<h1>Your Record Collection</h1>
<%- include('../partials/_navbar.ejs') %>
    <ul>
        <% records.forEach(record=> { %>
            <li>

                <a href="/users/<%= user._id %>/records/<%= record._id %>">
                    <strong>
                        <%= record.artist %> - <%= record.album %>
                    </strong>
                </a>

                <a href="/users/<%= user._id %>/records/<%= record._id %>/edit">Edit</a>

                <form action="/users/<%= user._id %>/records/<%= record._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
            <% }); %>
    </ul>

    <!-- Add New Record Link - moved to the bottom -->
    <a href="/users/<%= user._id %>/records/new">Add New Record</a>