<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Collection</title>
</head>

<body>
    <nav>
        <%- include('./partials/_navbar.ejs') %>
    </nav>

    <h1>Welcome to the Record Collection</h1>

    <% if (user) { %>
        <h2>Your Record Collection</h2>
        <a href="/users/<%= user._id %>/records/new">Add New Record</a>
        <ul>
            <% records.forEach(record=> { %>
                <li>
                    <strong>
                        <%= record.artist %> - <%= record.album %>
                    </strong>
                    <a href="/users/<%= user._id %>/records/<%= record._id %>/edit">Edit</a>
                    <form action="/users/<%= user._id %>/records/<%= record._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                <% }) %>
        </ul>
        <% } else { %>
            <p>Sign in to flip through your records or sign up to get started!</p>
            <% } %>
</body>

</html>